### 1. Write a Python program to find sum of elements in list?

In [1]:
def sum_of_elements(input_list):
    return sum(input_list)

# Example usage
my_list = [1, 2, 3, 4, 5]
result = sum_of_elements(my_list)

print(f"The sum of elements in the list {my_list} is: {result}")

The sum of elements in the list [1, 2, 3, 4, 5] is: 15

### 2. Write a Python program to  Multiply all numbers in the list?

In [2]:
def multiply_all_elements(input_list):
    result = 1
    for number in input_list:
        result *= number
    return result

# Example usage
my_list = [1, 2, 3, 4, 5]
result = multiply_all_elements(my_list)

print(f"The product of all elements in the list {my_list} is: {result}")

The product of all elements in the list [1, 2, 3, 4, 5] is: 120

### 3. Write a Python program to find smallest number in a list?

In [9]:
def find_smallest_number(input_list):
    return min(input_list)

# Example usage
my_list = [12, 45, 78, 23, 56, 89, 34]
smallest_number = find_smallest_number(my_list)

print(f"The smallest number in the list {my_list} is: {smallest_number}")

The smallest number in the list [12, 45, 78, 23, 56, 89, 34] is: 12

### 4. Write a Python program to find largest number in a list?

In [3]:
def find_largest_number(input_list):
    return max(input_list)

# Example usage
my_list = [12, 45, 78, 23, 56, 89, 34]
largest_number = find_largest_number(my_list)

print(f"The largest number in the list {my_list} is: {largest_number}")

The largest number in the list [12, 45, 78, 23, 56, 89, 34] is: 89

### 5. Write a Python program to find second largest number in a list?

In [4]:
def find_second_largest_number(input_list):
    sorted_list = sorted(input_list, reverse=True)

    # Ensure there are at least two elements in the list
    if len(sorted_list) >= 2:
        return sorted_list[1]
    else:
        return "List doesn't have a second largest number."

# Example usage
my_list = [12, 45, 78, 23, 56, 89, 34]
second_largest_number = find_second_largest_number(my_list)

print(f"The second largest number in the list {my_list} is: {second_largest_number}")

The second largest number in the list [12, 45, 78, 23, 56, 89, 34] is: 78

### 6. Write a Python program to find N largest elements from a list?

In [5]:
import heapq

def find_n_largest_elements(input_list, n):
    # Use heapq to get the N largest elements
    largest_elements = heapq.nlargest(n, input_list)
    return largest_elements

# Example usage
my_list = [12, 45, 78, 23, 56, 89, 34]
n = 3
n_largest_elements = find_n_largest_elements(my_list, n)

print(f"The {n} largest elements in the list {my_list} are: {n_largest_elements}")

The 3 largest elements in the list [12, 45, 78, 23, 56, 89, 34] are: [89, 78, 56]

### 7. Write a Python program to print even numbers in a list?

In [6]:
def print_even_numbers(input_list):
    even_numbers = [num for num in input_list if num % 2 == 0]
    print("Even numbers in the list:", even_numbers)

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_even_numbers(my_list)

Even numbers in the list: [2, 4, 6, 8, 10]

### 8. Write a Python program to print odd numbers in a List?

In [7]:
def print_odd_numbers(input_list):
    odd_numbers = [num for num in input_list if num % 2 != 0]
    print("Odd numbers in the list:", odd_numbers)

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_odd_numbers(my_list)

Odd numbers in the list: [1, 3, 5, 7, 9]

### 9. Write a Python program to Remove empty List from List?

In [8]:
def remove_empty_lists(input_list):
    non_empty_lists = [sublist for sublist in input_list if sublist]
    return non_empty_lists

# Example usage
my_list = [1, [], 3, [], 5, [], 7, [], 9, []]
filtered_list = remove_empty_lists(my_list)

print("List after removing empty lists:", filtered_list)

List after removing empty lists: [1, 3, 5, 7, 9]

### 10. Write a Python program to Cloning or Copying a list?

In [10]:
def clone_list(original_list):
    cloned_list = original_list[:]
    return cloned_list

# Example usage
original_list = [1, 2, 3, 4, 5]
cloned_list = clone_list(original_list)

print("Original List:", original_list)
print("Cloned List:", cloned_list)

Original List: [1, 2, 3, 4, 5]
Cloned List: [1, 2, 3, 4, 5]

### 11. Write a Python program to Count occurrences of an element in a list?

In [11]:
def count_occurrences(input_list, element):
    return input_list.count(element)

# Example usage
my_list = [1, 2, 3, 4, 2, 5, 2, 6, 2, 7]
element_to_count = 2

occurrences = count_occurrences(my_list, element_to_count)

print(f"The element {element_to_count} occurs {occurrences} times in the list.")

The element 2 occurs 4 times in the list.